<div id="newtrip">
    <input type="hidden" name="currentUserId" id="currentUserId" value="{{currentUser._id}}"></input>
    <div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input id="travelName" class="input" type="text" placeholder="Name of the plan">
            </div>
        </div>

        <div class="field">
            <label class="label">City</label>
            <div class="control">
                <input type="text" id="cityName" class="input" placeholder="Search city">
            </div>

        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea id="travelDescription" class="textarea" placeholder="Describe you plan here"></textarea>
            </div>
        </div>


        <div class="field">
            <label class="label">Budget</label>
            <div class='control'>
                <div class='container'>Tags</div>
                <div class="field has-addons">
                    <p class="control">
                        <button class="button options tags" value='cultural'>
                            <span>Cultural</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button options tags" value='party'>
                            <span>Party</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button options tags" value='relax'>
                            <span>Relax</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Type</label>
            <div class="control">
                <div class="select">
                    <select id="travelType1Tab">
                        <option value="cultural">Cultural</option>
                        <option value="relax">Relax</option>
                        <option value="party">Party</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Days</label>
            <div class="control">
                <div class="select">
                    <select id="daysCreate">
                        <option selected disabled>Choose</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div id="tabs-with-content">
        <div class="tabs is-centered">
            <ul>

            </ul>
        </div>
        <div id='contentsDiv'>

        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button id="buttonCreate" class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqLcOKC6QYpCGzK4DDxej5_IdaoSHwY_o&libraries=places&"
    async defer></script>
