<div class='container'>
    <div class='container'>Days</div>
    <div class="field has-addons">
        <p class="control">
            <button class="button options" value='2'>
                <span class="is-small"></span>
                <i class="fa-align-center"></i>
                </span>
                <span>2</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='5'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>5</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='7'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>7</span>
            </button>
        </p>
    </div>
</div>
<div class='container'>
    <div class='container'>How much</div>
    <div class="field has-addons">
        <p class="control">
            <button class="button options" value='💵'>
                <span class="is-small"></span>
                <i class="fa-align-center"></i>
                </span>
                <span>💵</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='💵💵'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>💵💵</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='💵💵💵'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>💵💵💵</span>
            </button>
        </p>
    </div>
</div>
<div class='container'>
    <div class='container'>Type</div>
    <div class="field has-addons">
        <p class="control">
            <button class="button options" value='cultural'>
                <span class="is-small"></span>
                <i class="fa-align-center"></i>
                </span>
                <span>Cultural</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='party'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>Party</span>
            </button>
        </p>
        <p class="control">
            <button class="button options" value='relax'>
                <span class="is-small">
                    <i class="fa-align-center"></i>
                </span>
                <span>Relax</span>
            </button>
        </p>
    </div>
</div>


<div class='container'>
    <button id='save' class="button is-success">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
    </button>
</div>