<form class='formindex' action="/cities" method="post">
    <div class='container'>
        <div class='container'>Days</div>
        <div class="field has-addons">
            <p class="control">
                <button class="button options days" value='2'>
                    <span>2</span>
                </button>
            </p>
            <p class="control">
                <button class="button options days" value='5'>
                    <span>5</span>
                </button>
            </p>
            <p class="control">
                <button class="button options days" value='7'>
                    <span>7</span>
                </button>
            </p>
        </div>
    </div>
    <div class='container'>
        <div class='container'>How much</div>
        <div class="field has-addons">
            <p class="control">
                <button class="button options dolar" value='💵'>
                    <span>💵</span>
                </button>
            </p>
            <p class="control">
                <button class="button options dolar" value='💵💵'>
                    <span>💵💵</span>
                </button>
            </p>
            <p class="control">
                <button class="button options dolar" value='💵💵💵'>
                    <span>💵💵💵</span>
                </button>
            </p>
        </div>
    </div>
    
    <div class='container'>
        <div class='container'>Tags</div>
            <div class="field has-addons">
                <p class="control">
                    <button class="button options tags" value='cultural'>
                        <span>Cultural</span>
                    </button>
                </p>
                <p class="control">
                    <button class="button options tags" value='party'>
                        <span>Party</span>
                    </button>
                </p>
                <p class="control">
                    <button class="button options tags" value='relax'>
                        <span>Relax</span>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class='container'>
        <button id='save' class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Search</span>
        </button>
    </div>

    <input id='days' type="hidden" name='days' value=''>
    <input id='budget' type="hidden" name='budget' value=''>
    <input id='tagsWanted' type="hidden" name='tagsWanted' value=''>
    <input id='tagsNotWanted' type="hidden" name='tagsNotWanted' value=''>
</form>