<form action="/cities" method="post">
    <div class='container'>
        <div class='container'>Days</div>
        <div class="field has-addons">
            <p class="control">
                <button class="button options days" value='2'>
                    <span class="is-small"></span>
                    <i class="fa-align-center"></i>
                    </span>
                    <span>2</span>
                </button>
            </p>
            <p class="control">
                <button class="button options days" value='5'>

                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>5</span>
                    </li>
            </p>
            <p class="control">
                <button class="button options days" value='7'>
                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>7</span>
                </button>
            </p>
        </div>
    </div>
    <div class='container'>
        <div class='container'>How much</div>
        <div class="field has-addons">
            <p class="control">
                <button class="button options dolar" value='💵'>
                    <span class="is-small"></span>
                    <i class="fa-align-center"></i>
                    </span>
                    <span>💵</span>
                </button>
            </p>
            <p class="control">
                <button class="button options dolar" value='💵💵'>
                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>💵💵</span>
                </button>
            </p>
            <p class="control">
                <button class="button options dolar" value='💵💵💵'>
                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>💵💵💵</span>
                </button>
            </p>
        </div>
    </div>
    <div class='container'>
        <div class='container'>Tags</div>
        <div class="field has-addons">
            <p class="control">
                <button class="button options tags" value='cultural'>
                    <span class="is-small"></span>
                    <i class="fa-align-center"></i>
                    </span>
                    <span>Cultural</span>
                </button>
            </p>
            <p class="control">
                <button class="button options tags" value='party'>
                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>Party</span>
                </button>
            </p>
            <p class="control">
                <button class="button options tags" value='relax'>
                    <span class="is-small">
                        <i class="fa-align-center"></i>
                    </span>
                    <span>Relax</span>
                </button>
            </p>
        </div>
    </div>

    <div class='container'>
        <button id='save' class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Search</span>
        </button>
    </div>

    <input id='days' type="hidden" name='days' value=''>
    <input id='budget' type="hidden" name='budget' value=''>
    <input id='tagsWanted' type="hidden" name='tagsWanted' value=''>
    <input id='tagsNotWanted' type="hidden" name='tagsNotWanted' value=''>
</form>