// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }

// a {
//   color: #00B7FF;
// }



.clickedTags,
.clickedDays,
.clickedDolar {
    background-color: rgb(0, 138, 138);

}


#save {
    margin-top: 15px;
}
.detailstile{
    display: flex;
}
// .tile.is-ancestor:not(:last-child) {

//     height: 88vh;
//     margin: 1rem;

// }

// .title.is-3 {
//     margin-bottom: 50px;
// }

// #tabs-with-content .tabs:not(:last-child) {
//     margin-bottom: 0;
// }

#tabs-with-content .tab-content {
    // padding: 1rem;
    display: none;
}

#tabs-with-content .tab-content.is-active {

    display: flex;
}
.notification{
    padding: 1rem;
}
.footer{

    padding: 0;
}

// .infocard{
//     padding: 1rem;
//     margin: 1rem;
// }
.containermap{
    width: 40%;
}

.dayscard{
    width: 60%;
    height: 88%;
    margin: 0;
    
}
#plansMap {

    width: 100%;
    height: 50%;
}

.image{
    width: 53%;
}


#phototile {
    min-height: 0;
    // width: 22%;
    // display: flex;
    // height: auto;
    // margin-bottom: 1rem;

    .tile {
        min-height: 0;
        // height: 200px
    }
}
.columns{
    display: flex;
    flex-direction: row;
}